{% extends "layouts/base-presentation.html" %}
{% load crispy_forms_filters %}

{% block title %}
  Tasks List
{% endblock %}

{% block content %}

<section class="py-7">
  <div class="container">

    <div class="row mb-4 align-items-center">
      <div class="col-lg-6">
        <h2 class="mb-1">
          Task
        </h2>
        <p class="text-muted mb-0">
          All task in the system
        </p>
      </div>
      <div class="col-lg-6">
        <form action="" method="get">
          <div class="d-flex align-items-start gap-2">
            <div class="flex-grow-1">
              {{ search_form.query|as_crispy_field }}
            </div>
            <button class="btn bg-gradient-primary h-100">
              Search
            </button>
          </div>
        </form>
      </div>

    </div>

    <div class="row gx-4">

      {% for task in task_list %}

      <div class="col-lg-4 col-md-6 mb-4">

        <div class="card shadow-lg h-100">

          <div class="card-body">

            <h5 class="mb-2">
              {{ task.name }}
            </h5>

            <p class="text-sm text-muted mb-2">
              {{ task.project.name }} • {{ task.task_type.name }}
            </p>

            <p class="text-sm mb-2">
              Status:
              {% if task.status == "TODO" or task.status == "IN_PROGRESS" %}
                <span class="badge bg-primary">
              {% elif task.status == "IN_REVIEW" %}
                <span class="badge bg-secondary">
              {% elif task.status == "DONE" %}
                <span class="badge bg-success">
              {% endif %}
                {{ task.get_status_display }}
              </span>
            </p>

            <p class="text-sm mb-3">
              Priority:

              {% if task.priority == "URGENT" %}
                <span class="badge bg-danger">

              {% elif task.priority == "HIGH" %}
                <span class="badge bg-warning">

              {% elif task.priority == "MEDIUM" %}
                <span class="badge bg-primary">

              {% elif task.priority == "LOW" %}
                <span class="badge bg-info">

              {% elif task.priority == "OPTIONAL" %}
                <span class="badge bg-secondary">

              {% endif %}
                {{ task.get_priority_display }}
              </span>
            </p>

            <p class="text-sm text-muted mb-2">
              Assignees:
                {% for worker in task.assignees.all %}
                  <span class="badge bg-secondary me-1">
                    {{ worker.username }} {% if request.user == worker %} (Me){% endif %}
                  </span>
                {% empty %}
                  <span class="text-muted">Unassigned</span>
                {% endfor %}
            </p>

            <a href="{% url "tasks:task-detail" pk=task.id %}"
               class="btn btn-outline-primary btn-sm mb-0">
              View
            </a>

          </div>

        </div>

      </div>

      {% empty %}

      <div class="col-12 text-center">

        <p class="lead">
          No tasks available
        </p>

      </div>

      {% endfor %}

    </div>

  </div>
</section>

{% endblock %}
{% block pagination %}
  {% include "includes/pagination.html" %}
{% endblock %}
