{% extends "layouts/base-presentation.html" %}

{% block title %}
  Task Detail
{% endblock %}

{% block content %}

<section class="py-7">
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-8">

        <div class="mb-3">
          <a href="{% url "tasks:worker-list" %}"
             class="btn btn-outline-secondary btn-sm">
            ← Back to Workers
          </a>
        </div>

        <div class="card shadow-lg">

          <div class="card-body p-5">

            <div class="d-flex justify-content-between align-items-start mb-4">

              <div>

                <h2 class="mb-1">
                  {{ worker.username }}
                </h2>

                <p class="text-muted mb-0">
                  Full name: {{ worker.get_full_name }}
                </p>

              </div>

              <div class="d-flex gap-2">

                <a href="{% url "tasks:worker-update" pk=worker.id %}"
                   class="btn btn-outline-primary btn-sm">
                  Update
                </a>

                <a href="{% url "tasks:worker-delete" pk=worker.id %}"
                   class="btn btn-outline-danger btn-sm">
                  Delete
                </a>

              </div>

            </div>

            <hr>
              <div class="d-flex flex-column gap-2">
                <p class="text-sm mb-1"><strong>Active tasks:</strong></p>
                {% for task in active_tasks %}
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="badge bg-secondary me-1">
                      {{ task.name }} • {{ task.get_status_display }} • {{ task.get_priority_display }}
                    </span>
                  </div>

                {% empty %}
                  <span class="text-muted">This user doesn't have any active tasks</span>
                {% endfor %}
              </div>
              <br>
              <div class="d-flex flex-column gap-2">
                <p class="text-sm mb-1"><strong>Completed tasks:</strong></p>
                {% for task in completed_tasks %}
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="badge bg-secondary me-1">
                      {{ task.name }} • {{ task.get_status_display }} • {{ task.get_priority_display }}
                    </span>
                  </div>

                {% empty %}
                  <span class="text-muted">This user didn't complete any tasks</span>
                {% endfor %}
              </div>

            <hr>

            <div class="col-md-6 mb-3">
              <p class="text-sm mb-1"><strong>Teams:</strong></p>
                {% for team in worker.teams.all %}
                  <span class="badge bg-secondary me-1">
                    {{ team.name }}
                  </span>
                {% empty %}
                  This user hasn't joined a team yet
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
